include ./pug/mixins
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Tour Du Lịch
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="./main.css")
  body 
    .tour-list-container
      .tour-list
        +tourItem("./images/ho_hoan_kiem.jpg", "From $40", "Hoàn Kiếm là hồ nước ngọt tự nhiên của thành phố Hà Nội", 4.8, 15, "9 hours", 100)
        +tourItem("./images/chua-mot-cot.jpg", "From $60", "Công trình là một trong những ngôi chùa cổ nhất ở Hà Nội.", 4.5,20,"10 hours",200)
        +tourItem("./images/pho-di-bo.jpg", "From $70", " Hàng tuần, phố đi bộ Hồ Gươm mở từ 18h thứ Sáu đến hết Chủ nhật", 4.9,30,"10 hours",500)