/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f5f5f5;
  font-weight: 500;
}
.tour-list-container{
  width:100%;
  margin: 0 auto;
  max-width: 1170px;
}
.tour-list{
  margin-left: -30px;
  display: flex;
  flex-direction:row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.tour {
  width: calc(33.33% - 30px);
  background-color: white;
  border-radius: 10px;
  /* overflow: hidden; */
  margin-left: 30px;
  margin-bottom: 30px;
}
.tour-content {
  padding: 20px 20px 14px 20px;
}
.tour-title {
  margin-bottom: 10px;
  color: #23262f;
  font-weight: 500;
  font-size: 18px;
  /* line-height: 28px; */
  line-height: 1.556;
}
.tour-rating {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tour-review{
  display: flex;
  align-items: center;
}
.tour-duration,
.tour-review-count {
  color: #353945;
}
.tour-button {
  font-size: 14px;
  font-weight: 500;
  color: white;
  padding: 8px 17px;
  background-color: #3b71fe;
  text-decoration: none;
  border-radius: 8px;
  line-height: 17px;
  display: inline-block;
}
.tour-image{
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 239px;
  object-fit: cover;
}